@charset "utf-8";

/* CSS Document */


@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsblack';
    src: url('../fonts/poppins-black-webfont.woff2') format('woff2'),
         url('../fonts/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsblack_italic';
    src: url('../fonts/poppins-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsbold_italic';
    src: url('../fonts/poppins-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsextrabold';
    src: url('../fonts/poppins-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsextrabold_italic';
    src: url('../fonts/poppins-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsextralight';
    src: url('../fonts/poppins-extralight-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsextralight_italic';
    src: url('../fonts/poppins-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsitalic';
    src: url('../fonts/poppins-italic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinslight_italic';
    src: url('../fonts/poppins-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsmedium';
    src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayblack';
    src: url('../fonts/raleway-black-webfont.woff2') format('woff2'),
         url('../fonts/raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayblack_italic';
    src: url('../fonts/raleway-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaybold_italic';
    src: url('../fonts/raleway-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayextrabold_italic';
    src: url('../fonts/raleway-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayextralight';
    src: url('../fonts/raleway-extralight-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayextralight_italic';
    src: url('../fonts/raleway-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayitalic';
    src: url('../fonts/raleway-italic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight_italic';
    src: url('../fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html {
  scroll-behavior: smooth;
}

body {
    font-family: 'poppinsregular';
}

body.active-preloader-ovh {
  overflow: hidden;
}

.preloader {
  background-color: #ff973b;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999999;
}

.preloader .spinner {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/* preloader */


/*Logo and banner Start Here*/
.logo-sec-wraper {
  padding: 7px 0;
}
.logo-sec {
  padding-left: 0;
}
a.logo-align {
  text-decoration: none;
  display: flex;
  align-items: center;
}
a.logo-align img {
  width: 60px;
}

.brand-text h4 {
  padding-left: 5px;
  font-size: 19px;
  color: #000;
  font-family: "robotobold";
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  font-family: 'poppinsbold';
}

.brand-text h4 span {
  color: #000;
  display: block;
  font-size: 13px;
  font-family: 'poppinsmedium';
  text-transform: capitalize;
  
}
.brand-text p {
  font-family: 'poppinsmedium';
  font-size: 13px;
  padding-left: 5px;
  margin: 0;
  color: #000;
}
.brand-text p span {
  padding-left: 0;
  display: block;
}


/*Navbar start here*/
.banner-section {
    background: #fff4ea;
}
.nav-wraper {
  background: #023047;
}
ul li a:hover {
  text-decoration: none;
}

.logo-sec-wraper ul li a {
    color: #000;
}
/*Main bg*/


.head-title h1 {
  font-size: 14px;
  color: #1A1A1B;
  font-family: 'ralewaymedium';
}

.tabination .nav-tabs .nav-item.show .nav-link,
.tabination .nav-tabs .nav-link.active {
  color: #fff;
  font-weight: 600;
background: #46187a;    
}

.tabination .nav-tabs .nav-link {
  font-size: 14px !important;
  color: #000;
  background: #fff;

  border-radius: 0;
}
li.active.nav-item,li.nav-item a:hover {
    background: #46187a;
    color: #fff;
}
/* li.nav-item.login-btn {
    background: #46187a;
    color: #fff;
} */
.menu-sec nav li {
    transition: background 0.3s, color 0.3s;
}
.menu-sec nav li a {
    display: block;
    text-decoration: none;
    padding: 5px 15px !important;
    font-size: 0.875rem;
    color: inherit;
}

.banner-heading h1 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 0;
}
.banner-section {
    background: url(../images/banner.jpg)no-repeat;
    background-size: cover;
    padding: 40px;
    height: 350px;
    background-position: initial;
}
.banner-heading h1 span {
    display: block;
    font-size: 46px;
    font-family: 'poppinsextrabold';
    color: #fff;
}
.tab-content>.active {
    display: block;
    background: #ffffff73;
    padding: 15px;
    border: 0;
}
.nav-tabs {
    border-bottom: 0;
}
div#home input {
    height: 45px;
    border-radius: 0;
}
.btn.search-btn.hvr-sweep-to-right {
    text-align: center;
    background:#fd0756;
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0;
    color: #fff;
    border: 0;
  }
.tab-content select, .tab-content input {
    font-size: 13px;
    height: 45px !important;
}
.hvr-sweep-to-right {
    width: auto !important;
    padding: 0 63px !important;
}
.side-img img {
    box-shadow: 0px 0px 12px 0px rgb(120 120 120);
    border: 5px solid #fff;
}

/* css by deepak  */

.search-sec {
  background: rgb(158 207 250 / 6%) !important;
}
.search-sec .item {
  /* margin-top: 2rem; */
}
.search-sec .item:hover {
    box-shadow: 1px 0px 6px 0px rgb(70 24 122);
}
.search-sec .item .card {
  width: 100% !important;
  border: none;
  background-color: #ffc0cb1f;
  box-shadow: 0px 0px 10px 0px rgb(233 233 233);
}
.search-sec .item .card-body {
  padding: 10px 5px !important;
}
.search-sec .item .card-body .media-part {
  font-size: 10px;
  float: right;
  padding: 3px 6px;
  background-color: #fd0756;
  color: white;
  font-weight: 600;
  /* border-radius: 30px 30px 30px; */
}
.search-sec .item .card-body .publication-part {
  font-size: 10px;
  float: right;
  padding: 3px 6px;
  background-color: #46187a;
  color: white;
  font-weight: 600;
  /* border-radius: 30px 30px 30px; */
}
.search-sec .item .card-body .post-date{
font-size: 14px;
}
.search-sec .item .card-body h5.card-title {
  margin: 5px 0 !important;
}
.search-sec .item .card-body p{
  font-size: 12px;
  /* width: 300px; */
  text-align: justify;
  word-break: break-word;
}
.search-sec .item .card-body a.btn.btn-primary {
  width: 100%;
  background-color: #fd0756 ;
  border: 1px solid #fd0756 !important;
  margin: 0 2px;
  font-size: 13px;
}
.search-sec .item .card-body .bt-download {
  background-color: white !important;
  color: black;
}
.search-sec .item .card-body .iten-bt{
  display:flex ;
}

section#hero,.footer {
    background-color: #46187a;
    color: white;
}

.item .card .card-img-top {
    min-height: 190px;
    max-height: 190px;
}